       * {
           margin: 0;
           padding: 0;
       }
       
       body {
           font-family: 'EB Garamond', serif;
           overflow: hidden;
       }
       
       #header {
           position: fixed;
           font-size: 1.5rem;
       }
       
       .social {
           position: fixed;
           bottom: 0;
           right: 0;
           color: black;
           padding: .5rem;
           font-size: 1.5rem;
       }
       
       .social a {
           display: inline-block;
           padding: 0 .5rem;
           color: white;
           font-size: 2rem;
       }
       
       #header span {
           vertical-align: middle;
           display: inline-block;
           font-size: 1.35rem;
           line-height: 2.5rem;
           padding: 0 1.0rem;
       }
       
       #header .fa {
           vertical-align: middle;
           display: inline-block;
           font-size: 2.5rem;
           line-height: 2.5rem;
       }
       
       #header .tid {
           display: none
       }
       
       audio {
           position: fixed;
           display: none;
       }
       
       body,
       canvas {
           width: 100vw;
           height: 100vh;
       }
       
       #header a {
           color: black
       }
       
       #header img {
           vertical-align: middle;
       }
       /* webgl error */
       
       .webgl-error {
           position: fixed;
           z-index: 666;
           margin: auto;
           top: 0;
           left: 0;
           bottom: 0;
           right: 0;
           font-size: 1.2rem;
           line-height: 1.4rem;
           color: black;
           width: 512px;
           height: 3rem;
           padding: 2rem;
           border: 1px solid #ddd;
       }
       
       body .rs-base {
           position: fixed;
           z-index: 10000;
           top: 0;
           padding: 5px;
           background-color: #000;
           font-size: 13px;
           line-height: 13px;
           width: 170px;
           font-family: 'EB Garamond', serif;
           left: 0;
           bottom: auto;
           overflow: hidden;
       }
       
       body {
           background: black;
           text-align: center;
       }
       
       #canvas {
           position: relative;
           margin: 20vh auto;
           max-width: 1366px;
           height: 60vh
       }

       .rs-base canvas.rs-canvas {
          margin: 0 auto;
       }


      .rs-base div.rs-counter-base {
          color: white
        }